@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(255, 255, 255, 1);
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.button-brown {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);

  /* width: 160;
  margin: 0 auto; */
}

.button-blue {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.button-gray {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
}

.button-clear {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
}

.button-active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 430px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

/* Header */
.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

/* Основная страница main */
/* Блок: hero */
.background-image-container {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-conteiner {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  text-align: center; /* Выравнивание текста по центру */
  margin: 0 auto; /* Автоматическое центрирование по горизонтали */
}

.background-image-container {
  position: relative;
}

.hero-main-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.hero-text {
  font-size: 22px;
  line-height: 26px;
}

/* Блок: Преимущества */

/* .advantages {}
  /* flex-direction: column; */
  /* align-items: center; */


.advantages-container {
  display: flex;
  align-items: center;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

.advantages-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-cube {
  flex-direction: column;
  justify-content: center;
  min-height: 360px;
  align-items: center;
  text-align: center;
}

/* .index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/");
} */


/* Раскраска блоков */
.blue {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.gray {
  background-color: rgba(131, 179, 211, 0.20);
}

.lightgray {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Блок: Удобства */
.conveniences-title {
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.conveniences-container {
  display: flex;
}


.conveniences-item {
  width: 1200x;
  text-align: center;
}

.conveniences-main-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
}

.conveniences-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotels-search {
  text-align: center;
}


/* Блок: поиск гостиницы */
.hotels-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.hotels-search-text {
  font-size: 22px;
  line-height: 26px;
}

/* Блок: подписка */
.subscription {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-catalog {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
}

/* Блок: подписка в каталоге */
.subscription-catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

/* Каталог main */
/* Фильтр */
.filter {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-main-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.filter-breadcrumbs {
  font-size: 16px;
}

.filter-form {
  line-height: 23px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.price-input {
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

/* Каталог гостиниц */
.search-result-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
}

.select-control {
  color: rgba(51, 51, 51, 1);
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

/* .hotel-card {
  display: flex;
} */


.hotel-card-link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/* Пагинация */
.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
}

.pagination-link-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-link-dots {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

/* Footer*/
.phone {
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.main-footer {
  width: 1200px;
  margin-right: 130px;
}

.button-social {
  flex-direction: column;
  justify-content: center;
  min-height: 360px;
  align-items: center;
  text-align: center;
}

.page-footer-container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.footer-contacts {
  width: 200px;
  margin-right: 130px;
}

.footer-social {
  margin-left: auto;
  max-width: 190px;
}
