@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

ul {
  list-style-type: none;
}

html {
  height: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-style: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.button-brown {
  align-self: center;
  min-width: 160px;
  padding: 8px 34px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.button-blue {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  width: 232px;
  height: 52px;
}

.button-gray {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
}

.button-clear {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
}

.button-active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.page-header {
  display: flex;
  gap: 20px;
  padding: 0 70px;
}

.navigation {
  display: flex;
  gap: 28px;
  flex-grow: 1;
}

.navigation-logo-link {
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-logo-img {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  min-width: 44px;
  min-height: 64px;
}

.main-container {
  flex-grow: 1;
}

/* Основная страница main */
/* Блок: hero */

.page-conteiner {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #769ec2;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 0 center, center center;
  background-size: contain, cover;

}

.background-image-container {
  display: block;
}

.hero-main-text {
  margin: 0 0 25px;
  padding: 0 286px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
}

.hero-text {
  margin: 0 0 90px;
  padding: 0 272px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

/* Блок: Преимущества */

.advantages-container {
  display: flex;
  align-items: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.advantages-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
  flex-basis: 400px;
}

.advantages-item-cube {
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  align-items: center;
  text-align: center;
}

.advantages-item-cube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 60px;
  width: 400px;
  min-height: 385px;
  padding: 85px;
}

.advantages-item-image .advantages-text {
  color: #ffffff;
}

.advantages-item-text:nth-child(odd) {
  background: rgba(130, 179, 211, 0.2);
}

.advantages-item-text:nth-child(even) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.advantages-item__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 60px;
  width: 400px;
  padding: 85px;
}

.advantages-item-image {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-image-left {
  flex-direction: row-reverse;
}

/* Раскраска блоков */
.blue {
  color: rgba(255, 255, 255, 1);
  min-width: 100%;
  background-color: rgba(130, 179, 211, 1);
}

.gray {
  background-color: rgba(131, 179, 211, 0.20);
}

.lightgray {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-image {
  background-color: #82b3d3;
}

/* .advantages-title::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  content: "";
  width: 60px;
  height: 2px;
  transform: translateX(-50%);
  background-color: currentColor;
  opacity: 0.3;
} */

/* Блок: Удобства */

.conveniences {
  display: flex;
  flex-direction: column;
  padding: 64px 0 0;
  text-align: center;
}

.conveniences-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding: 30px;
  margin-top: 75px;
}

.conveniences-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.conveniences-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* .conveniences-item {
  width: 1200x;
  text-align: center;
} */

.conveniences-main-text {
  margin: 0 0 20px;
  padding: 0 347px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.conveniences-text {
  margin: 0 0 64px;
  padding: 0 355px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.conveniences-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-align: center;
  flex-basis: 400px;
}

.conveniences-item-cube {
  flex-direction: column;
  justify-content: center;
  min-height: 385px;
  align-items: center;
  text-align: center;
}

.conveniences-item-hotel {
  background-image: url("../images/hotel.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.conveniences-item-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center 82px;
}

.conveniences-item-souvenir {
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center 79px;
}

/* Блок: поиск гостиницы */
.hotels-search {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
  text-align: center;
}

.hotels-search-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-search-text {
  margin: 0 0 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.button-big {
  align-self: center;
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Блок: подписка */
.subscription {
  display: flex;
  flex-direction: column;
  padding: 96px 258px 105px;
  color: #ffffff;
  background-color: #68a3ca;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscription-catalog {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscription-title {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-text {
  margin: 0 0 54px;
  padding: 0 104px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.email-form {
  display: flex;
  justify-content: center;
}

.email-field {
  flex-grow: 1;
  padding: 12px 20px;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-align: left;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}

.button-blue {
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  background: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
}

/* Блок: подписка в каталоге */
.subscription-catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

/* Каталог main */
/* Фильтр */
.filter {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../images/catalog/filter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-main-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.filter-breadcrumbs {
  font-size: 16px;
}

.filter-form {
  line-height: 23px;
  display: flex;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.price-input {
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

/* Каталог гостиниц */
.search-result{
  width: 1200px;
}

.search-result-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
  text-transform: uppercase;
}

.select-control {
  color: rgba(51, 51, 51, 1);
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/* Пагинация */
.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
}

.pagination-link-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-link-dots {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

/* Footer*/
.phone {
  font-size: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.button-social {
  min-height: 275px;
  align-items: center;
  text-align: center;
}

/* pooter */
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  gap: 5px;
}

.button-social {
  align-items: center;
  width: 47px;
  height: 40px;
  color: #83b3d3;
  outline: none;
}

.page-phone {
  padding: 5px 5px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  outline: none;
}
